<div id="adminPanel">

	<a href="/">Main Page</a>

    <div id="sendMandrillMail"></div>
    <script type="text/jsx" src="../ReactViews/build/SendMandrillMail.js"></script>

    <div id="createGroup"></div>
    <script type="text/jsx" src="../ReactViews/build/CreateGroup.js"></script>

    <div id="createEvent"></div>
    <script type="text/jsx" src="../ReactViews/build/CreateEvent.js"></script>

	<div id="joinGroupForm"></div>
    <script type="text/jsx" src="../ReactViews/build/JoinGroupForm.js"></script>

    <div id="deleteUserAccount"></div>
    <script type="text/jsx" src="../ReactViews/build/DeleteUserAccount.js"></script>

</div>