<div id="editAccount">

    <div id="gsmHeader"></div>
    <script type="text/jsx" src="../ReactViews/build/GSMHeader.js"></script>
    

    <div id="editAccountForm"></div>
    <script type="text/jsx" src="../ReactViews/build/EditAccountForm.js"></script>


</div>