<div id="groupView">


	<input id="groupID" type="hidden" value="{{groupID}}" />
	<input id="groupName" type="hidden" value="{{groupName}}" />


	<div id="gsmHeader"></div>
	<script type="text/jsx" src="/ReactViews/build/GSMHeader.js"></script>

	<div id="gsmSingleGroup"></div>
	<script type="text/jsx" src="/ReactViews/build/GSMSingleGroup.js"></script>
	

	<div id="gsmUserTableView"></div>
	<script type="text/jsx" src="/ReactViews/build/gsmUserTableview.js"></script>


</div>