<div id="groupView">


	<input id="groupID" type="hidden" value="{{groupID}}" />
	<p>Hi</p>


	<div id="gsmSingleGroup"></div>
	<script text="text/jsx" src="/ReactViews/build/GSMSingleGroup.js"></script>
	
</div>