<!-- index.html -->
<div id="index">

    <!-- THIS REFERENCES THE FILE BELOW AND MAKES IT -->
    <!-- This page will hold the main user page. (TODO list style adding people, rating, going to friends, and searching) -->



    <div id="gsmHeader"></div>
    <script type="text/jsx" src="../ReactViews/build/GSMHeader.js"></script>
     
    <div id="profileCompletion"></div>
    <script type="text/jsx" src="../ReactViews/build/ProfileCompletion.js"></script>
    
    <h3>BAB Member List</h3>
    <p>Tip of the Week: You're awake for 16 hours in a day. Do something.</p>
    


    <div id="gsmUserTableView"></div>
    <script type="text/jsx" src="../ReactViews/build/GSMUserTableview.js"></script>
    <br />
    <a href="/logout">Logout</a>

    <!-- Add a className= to divs inside React files to style them appropriately using a style sheet! Include all data needed within React files. -->

    <input id="isFirstTimeLogin" type="hidden" value="{{isFirstTimeLogin}}" />

    <div id="loginUpdate"></div>
    <script type="text/jsx" src="../ReactViews/build/LoginUpdate.js"></script>

</div>