<div id="landingPage">
    
    <div class='container-fluid top'>
    	<div class='row'>
 		<div class="col-md-1"></div> 
    		<div class="col-md-2">
    			<div class="header">
					<div class='header-logo'>iGrouply</div>
					<br/><p></p>
					<p class='header-content'><br/>Discover your network.
							<ul id="valueProp">
								<li>Find people who can help you with your projects and goals</li>
								<li>Offer your skills and help other people</li>
								<li>Message and meet interesting people</li>
								<li>UCLA (and BAB) Exclusive</li>
							</ul>
						</p>

				</div>
			</div>
			<div class="col-md-2 login">

			    <div id="loginForm"></div>
			    <script type="text/jsx" src="/ReactViews/build/LoginForm.js"></script>
			    <hr/>

			    <div id="createAccountForm"></div>
			    <script type="text/jsx" src="/ReactViews/build/CreateAccountForm.js"></script>
			</div>
		</div>
	</div>

</div>