<div id="landingPage">
    
    <div class='container-fluid top'>
    	<div class='row'>
 		<div class="col-md-1"></div> 
    		<div class="col-md-2">
    			<div class="header">
					<div class='header-logo'>iGrouply</div>
					<br/><p></p>
					<p class='header-content'><br/>iGrouply is a place where people and organizations can connect and network more effectively. Browser people for their skills, wants, and more. </p><p class='header-content'>iGrouply is your personal talent directory.</p>

				</div>
			</div>
			<div class="col-md-2 login">

			    <div id="loginForm"></div>
			    <script type="text/jsx" src="/ReactViews/build/LoginForm.js"></script>
			    <hr/>

			    <div id="createAccountForm"></div>
			    <script type="text/jsx" src="/ReactViews/build/CreateAccountForm.js"></script>
			</div>
		</div>
	</div>

</div>