<div id="landingPage">
    <h1>iGrouply</h1>
    <h3>BAB Member Login</h3>
    <p>Browse people in BAB for their skills, wants, and more.
    <br />
    Expand your network and meet interesting people.</p>

    <div id="loginForm"></div>
    <script type="text/jsx" src="/ReactViews/build/LoginForm.js"></script>

    <div id="createAccountForm"></div>
    <script type="text/jsx" src="/ReactViews/build/CreateAccountForm.js"></script>

</div>