<div id="messageThread">

	<a href="/messages">Back</a>

	<input id="convoID" type="hidden" value="{{convoID}}" />
	<input id="convoTitle" type="hidden" value="{{convoTitle}}" />

	<div id="message"></div>
	<script type="text/jsx" src="../ReactViews/build/Message.js"></script>

</div>