
@import url(http://fonts.googleapis.com/css?family=Avenir:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;
	background-image: url("public/imgs/PeopleBackground.png");
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	width: 100%;

	

}

.login-area {
	max-width: 1000px;
	padding-left: 100px;
	padding-top:100px;

}
	/*
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	*/
.landing-bg {
  margin-top:100px;
}


.header{

	/*position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	*/

	/*z-index: 2;*/
}

.header-logo{
	float: left;
	color: #fff;
	font-family: 'Avenir Medium', sans-serif;
	font-size: 35px;
	
	font-style: oblique;
}

.header-content {
	float: left;
	color: #fff;
	
	font-size: 18px;

	width: 250px;
	
	font-family: "Avenir"
}

.purple{
	/*color: #5379fa !important;*/
	color: hsl(281,100%,29%) !important;
}


.col {
	width: 333px;
	float: left;
}

.login h2 {
	color: #fff;
	font-family: 'Avenir', sans-serif;
	font-size: 18px;
	font-weight: 200;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Avenir', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-bottom: 10px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Avenir', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	/*margin-top: 10px;*/
	margin-bottom: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: hsl(281,100%,29%);
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	/*color: #a18d6c;*/
	color: white;
	font-family: 'Avenir', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

