<div id="editAccount">
    <div id="gsmHeader"></div>

    <div class='container-fluid'>
	    <div class='row'>
		    <div class='col-md-6'>
		    <script type="text/jsx" src="../ReactViews/build/GSMHeader.js"></script>
		    <div id="editAccountForm"></div>
		    <script type="text/jsx" src="../ReactViews/build/EditAccountForm.js"></script>
		    </div>
	    </div>
    </div>
</div>