<div id="events">

	<div id="gsmHeader"></div>
    <script type="text/jsx" src="../ReactViews/build/GSMHeader.js"></script>

    <div id="gsmEventView"></div>
    <script type="text/jsx" src="../ReactViews/build/GSMEventView.js"></script>
</div>