<div id="groups">

	<div id="gsmHeader"></div>
    <script type="text/jsx" src="../ReactViews/build/GSMHeader.js"></script>

	<div id="gsmGroupView"></div>
	<script type="text/jsx" src="/ReactViews/build/GSMGroupView.js"></script>


</div>