<div id="messages">


	<div id="gsmHeader"></div>
    <script type="text/jsx" src="/ReactViews/build/GSMHeader.js"></script>
     
	<div id="messageThreads"></div>
	<script type="text/jsx" src="/ReactViews/build/MessageThreads.js"></script>

</div>