<div id="userPage">

   
    <div id="gsmHeader"></div>
    <script type="text/jsx" src="../ReactViews/build/GSMHeader.js"></script>
     
    

    <div id="gsmUserProfile"></div>
    <script type="text/jsx" src="../ReactViews/build/GSMUserProfile.js"></script> 
   

</div>